body {
  background-image: none;
  font: 12px/1.5 'Microsoft Yahei','Simsun';
}
a:hover{
  text-decoration:none;
}
.edt #e_controls.bar {height: 60px;}
.tedt{
  border:1px solid #ccc;
}
.ttp a{
  height: 29px;
}
.ttp li{
  margin-left: 7px;
}
.bm_h {
  height: 52px;
}
.cttp .unfold, .cttp .fold{
  width: 34px;
}
.pg a, .pg strong, .pgb a, .pg label{
  border-radius: 14px;
}
.pg label .px {
  height: 17px;
}
.cttp{
  height: 44px;
}
.px {
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  text-align: center;
  background: none;
}
.xw110{height: 32px;overflow: hidden;}

/*头部*/
.wjs_hd {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
.wjs_hdmg {
  height: 60px;
}

#waterfall li.col-sm-6.col-md-4{
  margin-bottom: 20px;
}
/*导航一*/

.navbar {
  position: fixed;
  overflow: visible;
  margin-bottom: 20px;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  min-width: 80px;
  background: #2a2a2a;
  border-radius: 0;
}
.navbar li a {
  color: #999;
}
.navbar li {
  margin: 0;
}
.navbar li a:hover, .navbar li a:active ,.navbar li.active a{
  background-color: #3F3F3E;
  color: white;
  text-shadow: 0 1px 0 #de533a;
}
/*导航一 end*/


@media (min-width: 768px) {
    #wjs_container {
    width: 760px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
	.navbar {
		display: none;
	}
	.head2 {
		display: none;
	}

}
/*导航二*/
.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.head2 {
	position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 22%;
  height: 100%;
  left: 10%;
}
.bottom-block {
  position: absolute;
  bottom: 0;
  padding: 30px;
  color: white;
  font-family:"Microsoft YaHei"；
}

/*文章列表*/

.touxiang {
	width: 30px;
	height: 30px;
}

.wenzhanglb {
	width: 60px;
	height: 60px;
}
.wjs_h{
  font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 
  'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: bold;
  color: rgb(85, 85, 85);
  margin-top: 0;
}
.media.mb{
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px dashed #d9d9d9;
}

h4 {
	font-family: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 
	'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-weight: bold;
}
small{
	color: #999;
}
.img-circle img {
  border-radius: 50%
}
.wjs_huise {color: #999;margin-top: 5px;}

.sort-nav li a {
padding: 5px 10px;
border: 1px solid #d9d9d9;
border-radius: 14px;
box-sizing: border-box;
font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
font-size: 12px;
font-weight: normal;
line-height: 1.5;
height: 29px;
}




/*尾部*/
footer {
    padding: 20px 0 10px 0;
	  border-top: 1px solid #d9d9d9;
	  overflow: hidden;
	  color: #999999;
	  box-sizing: border-box;
	  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	  font-size: 12px;
	  font-weight: normal;
	  line-height: 20px;
}
footer a {
  color: #999999;
}
